*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;

    background-image: url('./img/bg.png');

    font-family: "Roboto", sans-serif;

    width: 100%;    
    height: 100vh;
}

header,footer {
    display: flex;
    justify-content: space-between;

    background-image: url('./img/bg.png');
    background-blend-mode: color-burn;

    padding: 10px;
    background-color: brown;
    color: #f1f1f1;
}

main {
    flex: 1 1 auto;
    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

label {
    cursor: pointer;
    font-size: 18px;
}

label:hover {
    text-decoration: underline;
}

label:active {
    transform: scale(.9);
    transition: transform .1s linear;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-left: solid 1px #f1f1f1;
    background-color: #a52a2a90;
    backdrop-filter: blur(3px);
    color: #f1f1f1;

    transform: translate(180px, 0);
    transition: transform .3s linear;

    width: 180px;
    height: 100vh;

    z-index: 10;
    position: fixed;
    right: 0;
    top: 0;
}

nav ul {
    display: flex;
    flex-direction: column;
}

nav li a{
    border-bottom: solid 1px #a52a2a25;
}

nav li:first-child a {
    border-radius: 5px 5px 0 0;
}

nav li:last-child a {
    border-radius: 0 0 5px 5px;
    border: none;
}

nav label {
    position: absolute;
    top: 25px;
    left: 25px;
}

nav a {
    display: block;
    width: 120px;
    padding: 10px;
    background-color: #f1f1f1;
    color: brown;
    transition: all .1s linear;
    text-decoration: none;
}

nav a:hover {
    background-color: brown;
    color: #f1f1f1;
    transform: scale(1.1);
    border-radius: 5px !important;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

nav a:active {
    transform: scale(1);
    transition: transform .1s linear;
}

#menu {
    display: none;
}

#menu:checked ~ nav {
    transform: translate(0, 0);
}

/* main */
/* слайдер */

.slider {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    color: #f1f1f1;
    padding: 5px 0;
    padding-right: 40px;
    padding-left: 20px;
    border-radius: 3px;
    background-color: brown;
    overflow: hidden;
    width: max-content;
    margin: 0 0 0 -20px;
    -webkit-transform: skew(10deg);
    -moz-transform: skew(10deg);
    -o-transform: skew(10deg);
}

.title h2 {
    transform: skew(-10deg);
}

marquee img {
    border: solid 2px black;
    border-radius: 10px;
    transform: skewX(5deg);
    height: 120px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
}

marquee img:hover {
    filter: brightness(1.2);
    border-color: brown;
}

/* последние игры */

.games_last {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* контейнер для последних игр */

.games {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
}

.game_item {
    position: relative;

    background-color: brown;
    border: solid 3px brown;
    border-radius: 10px;

    width: 240px;
    height: 140px;
}

.game_item:hover .game_content {
    z-index: 1;
}

.game_item:hover img {
    display: none;
}

.game_item img {
    display: block;
    border-radius: 7px;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.game_content {
    cursor: default;

    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;

    color: #f1f1f1;
    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.game_content h3 {
    font-size: 14px;
    text-wrap: nowrap;
}

.game_content p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-wrap: wrap;
    font-size: 12px;
    opacity: .6;
}

.game_content button {
    transform: skewX(5deg);
    transition: all .1s linear;
    padding: 5px 20px;
    border: solid 1px #f1f1f1;
    background-color: brown;
    color: #f1f1f1;
    border-radius: 5px;
    width: max-content;
    align-self: center;
    cursor: pointer;
}

.game_content button:hover {
    border: solid 1px #f1f1f1;
    background-color: #f1f1f1;
    color: brown;
}

.game_content button:active {
    transform: scale(.9) skewX(5deg);
}

@media screen and (max-width: 520px) {
    nav {
        width: 100vw;
        transform: translate(100%, 0);
    }

    nav label {
        top: 25px;
        left: auto;
        right: 25px;
    }
    
    .game_item {
        width: 100%;
        height: 240px;
    }

    .game_content h3 {
        font-size: 23px;
        text-wrap: nowrap;
    }
    
    .game_content p {
        height: max-content;
        font-size: 16px;
    }
    
    .game_content button {
        font-size: 16px;
    }
}